body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  width: 30%;
  background: #ffffff;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.right {
  width: 70%;
  padding: 20px;
}

#gateStatus {
  font-size: 18px;
  margin-top: 10px;
}
